{% extends 'base.html' %}

{% block content %}

<h1>Events in Nairobi</h1>
<h1>Live Events</h1>
<div id="flex" class="container">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Virtual Speaking Masterclass </p>
          <p class="card-text">Taking place now</p>
          <p>Nairobi, Nairobi</p>
          <p>Free</p>
          <p>Event Mania</p>
          <p>12k followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Video Speed Dating</p>
          <p class="card-text">Taking place now +2more events</p>
          <p>Nairobi, Nairobi</p>
          <p>Free</p>
          <p>Filter Off</p>
          <p>18k followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Cannabis Colloquia</p>
          <p class="card-text">Taking place now</p>
          <p>Nairobi, Nairobi</p>
          <p>Free</p>
          <p>Davine - Nairobi</p>
          <p>150 followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Tech Industry Symposium</p>
          <p class="card-text">Taking place now</p>
          <p>Nairobi University, Nairobi</p>
          <p>Free</p>
          <p>Nairobi University</p>
          <p>120 followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Finance Project</p>
          <p class="card-text">Taking place now</p>
          <p>Hilton, Nairobi</p>
          <p>Free</p>
          <p>Parallel Four</p>
          <p>12k followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Africa's Mental Health Matters</p>
          <p class="card-text">Taking place now</p>
          <p>IGH Hotel, Nairobi</p>
          <p>Free</p>
          <p>Africa's Mental Health Matters</p>
          <p>14k followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">East Africa Chef Expo</p>
          <p class="card-text">Taking place now</p>
          <p>Sarit Expo <Center></Center>, Nairobi</p>
          <p>Free</p>
          <p>CHEF MEDIA LTD</p>
          <p>795 followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Virtual Speaking Masterclass</p>
          <p class="card-text">Taking place now</p>
          <p>Nairobi, Nairobi</p>
          <p>Free</p>
          <p>Event Mania</p>
          <p>12k followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Walk for Pakistan</p>
          <p class="card-text">Taking place now</p>
          <p>Nairobi, Nairobi</p>
          <p>Free</p>
          <p>Walk for Pakistan</p>
          <p>12 followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">The Watoto Wasome Partners Breakfast</p>
          <p class="card-text">Taking place now</p>
          <p>TradeMark Hotel, Nairobi</p>
          <p>$54.67</p>
          <p>Affecto Foundation</p>
          <p>99 followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Tech Mindset Africa</p>
          <p class="card-text">Taking place now</p>
          <p>Sunstar Hotel, Nairobi</p>
          <p>Free</p>
          <p>Tech Mindset Africa</p>
          <p>407 followers</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Disaster Contingency Planning Training</p>
          <p class="card-text">Taking place now</p>
          <p>Appleton resort, Nairobi</p>
          <p>$867.79</p>
          <p>Seasoned Development</p>
          <p>12k followers</p>
        </div>
    </div>
</div>
<div>
    <h1>Online events</h1>
</div>
{% endblock %}